@font-face {
  font-family: "poppins-b";
  src: local("poppins"),
   url("./fonts/poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "poppins-sm";
    src: local("poppins"),
     url("./fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "poppins-m";
  src: local("poppins"),
   url("./fonts/poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "poppins-r";
  src: local("poppins"),
   url("./fonts/poppins/Poppins-Regular.ttf") format("truetype");
}
  
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
